
<main class="container justify-content-center">
    <h2 class="my-4">Bienvenidx {{user.nombre}} al panel de usuario</h2>
    <hr>
    <a href="/panel"><button id="panel" class="btn btn-secondary px-4 btn-sm">Editar mis datos</button></a>

</main>
<script>
    /*const panel = document.getElementById("panel");
    panel.addEventListener("click", function(e){
        e.preventDefault();
        const token = localStorage.getItem('token');
        if(!token){
            alert("No autorizado");
            return;
        }
    fetch("/panel", {
        headers:{
            'Authorization': `Bearer ${token}`
        }
    }).then(res => 
    {
        if(!res.ok){
            throw new Error("No autorizado")
        }
        return res.text()
    }).then(html =>{
        
        document.body.innerHTML = html
    })
    .catch(err => {
        console.error(err)
        alert("No autorizado")
    })
    }) */
</script>
